*{
    padding: 0;
    margin: 0;
}
.main{
    background-image:url(https://assets.nflxext.com/ffe/siteui/vlv3/fbf440b2-24a0-49f5-b2ba-a5cbe8ea8736/web/IN-en-20250324-TRIFECTA-perspective_d7c906ec-0531-47de-8ece-470d5061c88a_medium.jpg);
    height: 80vh;
}
main .box{
    height:80vh;
    width:100%;
    opacity:0.44;
    background-color: black;
}